venv/
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.coverage
Desktop.ini
Thumbs.db
/AppData/
/Contacts/
/Desktop/
/Documents/
/Downloads/
/Favorites/
/Links/
/Music/
/OneDrive/
/Pictures/
/Saved Games/
/Searches/
/Videos/
/.android/
/.bash_history
/.cache/
/.copilot/
/.gradle/
/.ssh/
/.vscode/
